# LED
NET led_byte<0> LOC = E11; #GPLED7 (Rightmost - LSB)
NET led_byte<1> LOC = E10; #GPLED6
NET led_byte<2> LOC = E15; #GPLED5
NET led_byte<3> LOC = D15; #GPLED4
NET led_byte<4> LOC = F12; #GPLED3
NET led_byte<5> LOC = E12; #GPLED2
NET led_byte<6> LOC = D14; #GPLED1
NET led_byte<7> LOC = E13; #GPLED0 (Leftmost - MSB)

NET CBUTTON  LOC = B21; # C Button
NET EBUTTON  LOC = A23; # E Button

## NET gpio0_io<13>  LOC = B21; # C Button
## NET gpio0_io<14> LOC = C21; # W Button
## NET gpio0_io<15> LOC = B22; # S Button
## NET gpio0_io<16> LOC = A23; # E Button
## NET gpio0_io<17> LOC = A22; # N Button


Net sys_clk TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net sys_clk LOC = AD8  |  IOSTANDARD=LVCMOS33;

## Master Reset (Active low)
NET sys_rst_pin LOC = T23 | IOSTANDARD = LVCMOS33 | PULLUP;
## NET sys_rst_s TIG;


## #------------------------------------------------------------------------------
## # IO Pad Location Constraints / Properties for System ACE MPU / USB
## #------------------------------------------------------------------------------

## NET sysace_clk_in   LOC        = AB12;
## NET sysace_clk_in   IOSTANDARD = LVCMOS33;
## NET sysace_clk_in   TNM_NET    = "sysace_clk_in";
## # Leave 1 ns margin
## TIMESPEC "TSSYSACE" = PERIOD "sysace_clk_in" 29 ns;

NET sace_usb_a<0>   LOC        = N6;
NET sace_usb_a<1>   LOC        = E5;
## NET sace_usb_a<2>   LOC        = F5;
## NET sace_usb_a<3>   LOC        = F4;
## NET sace_usb_a<4>   LOC        = J5;
## NET sace_usb_a<5>   LOC        = E7;
## NET sace_usb_a<6>   LOC        = G7;
NET sace_usb_a<*>   IOSTANDARD = LVCMOS33;
NET sace_usb_a<*>   SLEW       = FAST;
NET sace_usb_a<*>   DRIVE      = 8;

## System ACE chip select (Low-asserted)
## ---- (right now, wired OFF...)
NET sace_mpce       LOC        = F7;
NET sace_mpce       IOSTANDARD = LVCMOS33;
NET sace_mpce       SLEW       = FAST;
NET sace_mpce       DRIVE      = 8;

NET sace_usb_d<0>   LOC        = M6;
NET sace_usb_d<1>   LOC        = K5;
NET sace_usb_d<2>   LOC        = L3;
NET sace_usb_d<3>   LOC        = L4;
NET sace_usb_d<4>   LOC        = L7;
NET sace_usb_d<5>   LOC        = L5;
NET sace_usb_d<6>   LOC        = H6;
NET sace_usb_d<7>   LOC        = G5;
NET sace_usb_d<8>   LOC        = M7;
NET sace_usb_d<9>   LOC        = H7;
NET sace_usb_d<10>  LOC        = J6;
NET sace_usb_d<11>  LOC        = G4;
NET sace_usb_d<12>  LOC        = K7;
NET sace_usb_d<13>  LOC        = J4;
NET sace_usb_d<14>  LOC        = H4;
NET sace_usb_d<15>  LOC        = K6;
NET sace_usb_d<*>   IOSTANDARD = LVCMOS33;
NET sace_usb_d<*>   SLEW       = FAST;
NET sace_usb_d<*>   DRIVE      = 8;
NET sace_usb_d<*>   PULLDOWN;

## Cypress HPI Low-asserted Read Enable Pin
NET sace_usb_oen    LOC        = E6;
NET sace_usb_oen    IOSTANDARD = LVCMOS33;
NET sace_usb_oen    SLEW       = FAST;
NET sace_usb_oen    DRIVE      = 8;

## Cypress HPI Low-asserted Write Enable Pin
NET sace_usb_wen    LOC        = M5;
NET sace_usb_wen    IOSTANDARD = LVCMOS33;
NET sace_usb_wen    SLEW       = FAST;
NET sace_usb_wen    DRIVE      = 8;

## NET sysace_mpirq    LOC        = G6;
## NET sysace_mpirq    IOSTANDARD = LVCMOS33;
## NET sysace_mpirq    TIG;
## NET sysace_mpirq    PULLDOWN;

## Cypress HPI Low-asserted Chip Select Pin
NET usb_csn         LOC        = N3;
NET usb_csn         IOSTANDARD = LVCMOS33;
NET usb_csn         SLEW       = FAST;
NET usb_csn         DRIVE      = 8;

## Cypress HPI Reset Pin
NET usb_hpi_reset_n LOC        = P3;
NET usb_hpi_reset_n IOSTANDARD = LVCMOS33;
NET usb_hpi_reset_n TIG;

## Cypress HPI Interrupt Pin
NET usb_hpi_int     LOC        = M4;
NET usb_hpi_int     IOSTANDARD = LVCMOS33;
NET usb_hpi_int     TIG;
NET usb_hpi_int     PULLDOWN;
